<%= render 'shared/page_title', title: "Listing all MyRecipes Chefs" %>

<div class="container">
  <div class="center">
    <%= will_paginate %>
  </div>
  <% @chefs.each do |chef| %>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-2">
        <table>
          <tr class="chef-info">
            <%= gravatar_for(chef, size: 120) %>
          </tr>
          <tr>
            <% if logged_in?  && current_chef.admin? && !chef.admin? %>
              <%= link_to "Delete this chef", chef_path(chef),
                                              method: :delete,
                                              data: {confirm: "Are you sure you want to delete?"},
                                              class: "btn btn-danger btn-sm btn-container-center btn-container-col-center" %>
            <% end %>
          </tr>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="well">
          <h5>The Chef <%= link_to "#{chef.chefname.capitalize}", chef_path(chef), class: "chef-title" %> has <%= pluralize(chef.recipes.count, "recipe") %></h5>
          <hr />
          <ul>
            <% chef.recipes.each do |recipe| %>
              <li id="listing">
                <%= link_to "#{recipe.name}", recipe_path(recipe), target: "_blank"%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="center">
    <%= will_paginate %>
  </div>
</div>
