<%= render 'shared/page_title', title: "Chef #{@first_name}'s profiles" %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= gravatar_for @chef, size: 150 %>
    </div>
  </div>
</div>

<% if @chef.recipes.count != 0 %>
  <div class="container">
    <h4 class="center"><%= @first_name %>'s recipes</h4>
    <hr />
    <div class="center">
      <%= will_paginate @chef_recipes %>
    </div>
    <%= render 'recipes/recipe', obj: @chef_recipes %>
    <div class="center">
      <%= will_paginate @chef_recipes %>
    </div>
  </div>
<% else %>
  <div class="container center">
    <h4><%= @first_name %> has no recipes yet!</h4>
  </div>
<% end %>
