<%= render 'shared/page_title', title: "showing all recipes" %>

<div class="">
  <p>Total de Receitas: <%= @recipes.count %></p>
</div>


<div class="container">
  <div class="center">
    <%= will_paginate %>
  </div>

  <%= render 'recipe', obj: @recipes %>
  <div class="center">
    <%= will_paginate %>
  </div>
</div>
